.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
OpenBLAS-0.2.20/
armadillo-9.200.7/
.vscode/
obj/
bin/
stderr.log
stdout.log